@{
    ViewBag.Title = "Home Page";
}
<style>
    * {
        font-family: sans-serif;
    }

    .wrapper {
        width: 1200px;
        height: 600px;
        margin: 0 auto;
        background-color: aliceblue;
    }

    .center div {
        width: 800px;
        margin: 0 auto;
        height: 80px;
    }

    .center {
        padding: 200px 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .larger {
        width: 200px;
    }




    .center button {
        background-color: cornflowerblue;
        color: white;
        border: none;
        padding: 5px;
        font-size: 18px;
        height: 130px;
        width: 130px;
        box-shadow: 0 2px 4px darkslategray;
        cursor: pointer;
        transition: all 0.2s ease;
    }

        .center button:active {
            background-color: cornflowerblue;
            box-shadow: 0 0 2px darkslategray;
            transform: translateY(2px);
        }

        .center button:not(:first-child) {
            margin-top: 10px;
        }


    .round-5 {
        border-radius: 40%;
    }

    .round-6 {
        border-radius: 70%;
    }
</style>



<h2>Home Page</h2>


<div class=" wrapper">
    <div class="center">


        <div>
            <button type="button" class="larger btn btn-secondary round-6">Bakery</button>
            <button type="button" class="larger btn btn-secondary round-6">Dairy</button>
            <button type="button" class="larger btn btn-secondary round-6">Candies/ Snacks</button>
            <button type="button" class="larger btn btn-secondary round-6">Rice/Oil</button>
            <button type="button" class="larger btn btn-secondary round-6">Drinks</button>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div>
            <button type="button" class="larger btn btn-secondary round-6">Noodles</button>
            <button type="button" class="larger btn btn-secondary round-6">Wines</button>
            <button type="button" class="larger btn btn-secondary round-6">Personal Care</button>
            <button type="button" class="larger btn btn-secondary round-6">Mik Power/ Baby Care</button>
            <button type="button" class="larger btn btn-secondary round-6">Household</button>
        </div>
    </div>





</div>

