@{
    ViewBag.Title = "Home Page";
}
<style>
    .button {
        background-color: #04AA6D;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        width: 90px;
        height: 90px;
    }

    .button5 {
        border-radius: 50%;
    }

    .first {
        padding-left: 750px;
    }

    .secondleft {
        padding-left: 600px;
    }

    .secondright {
        padding-left: 350px;
    }

    .center {
        margin: 0 auto;
    }

    .thirdleft {
        padding-left: 500px;
    }

    .thirdright {
        padding-left: 500px;
    }
</style>



<h2>Home Page</h2>

<div class=" first">
    <button class="button button5">Bakery</button>
</div>

<div class=" center">
    <span class="secondleft">
        <button class="button button5">Dairy</button>
    </span>
    <span class=" secondright">
        <button class="button button5">Candies<br />/Snacks</button>
    </span>
</div>


<div class=" center">
    <span class="thirdleft">
        <button class="button button5">Rice/Oil</button>
    </span>
    <span class=" thirdright">
        <button class="button button5">Drinks</button>
    </span>
</div>

<div class=" center">
    <span class="thirdleft">
        <button class="button button5">Noodles</button>
    </span>
    <span class=" thirdright">
        <button class="button button5">Wines</button>
    </span>
</div>

<div class=" center">
    <span class="secondleft">
        <button class="button button5">Personal Care</button>
    </span>
    <span class=" secondright">
        <button class="button button5">Mik Power/ <br />Baby Care</button>
    </span>
</div>


<div class=" first">
    <button class="button button5">Bakery</button>
</div>

